
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6E6E6E;
}

input, textarea {
	background: #FFFFFF url(images/img09.gif) repeat-x;
	border: 1px solid #FFFFFF;
	border-top-color: #A3A3A3;
	border-left-color: #D6D6D6;
	font: normal 1em/normal "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6E6E6E;
}

h1, h2, h3 {
	margin-bottom: 0.5em;
	letter-spacing: -0.05em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1, h1 a, h2, h2 a {
	text-decoration: none;
	color: #414141;
}

h1 a:hover, h2 a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
	font-weight: normal;
	color: #939292;
}

p, ol {
	line-height: 190%;
}

ul, li{
  padding: 5px 0px;
}



#portrait_links  {
  font-size: 15px;
}

p {
	margin-top: 1.5em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	color: #346086;
  font-size: 15px;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin-right: 20px;
}

img.right {
	float: right;
	margin-right: 20px;
}

hr {
	display: none;
}

/* Logo */

#logo {
	width: 960px;
	height: 135px;
	margin: 0 auto;
}

#logo h1, #logo h2 {
	margin: 0;
}

#logo h1 {
	float: left;
	padding-top: 75px;
	font-size:50px;
	font-family: "Garamond";
}

#logo h2 {
	float: right;
	padding-top: 95px;
	font-size: 16px;
	font-weight: normal;
}

#logo h2, #logo h2 a {
	color: #939292;
}


/* Menu */

#menu {
	width: 960px;
	height: 62px;
	margin: 0 auto;
	background: #252E3A url(images/img02.jpg) no-repeat;
}

#menu ul {
	margin: 0;
	padding: 22px 0 0 30px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0 20px 0 22px;
	background: url(images/img03.gif) no-repeat left center;
}

#menu li.first {
	background: none;
}

#menu a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}


/* Banner */

#banner {
	width: 960px;
	margin: 0 auto;
	padding: 8px 0;
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding: 45px 35px 45px 25px;
	background: url(images/img05.gif) no-repeat;
}

/* Content */

#content {
	float: left;
	width: 900px;
}




/* Footer */

#footer {
	clear: both;
	width: 900px;
	height: 50px;
	margin: 0 auto;
	padding: 35px 45px;
	background: url(images/img05.gif) no-repeat;
}

#footer p {
	margin: 0;
	line-height: normal;
	color: #B4B4B4;
}

#footer a {
	color: #B4B4B4;
}

#footer .legal {
	float: left;
}

#footer .credit {
	float: right;
}
