
/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
}



/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


.header {
   padding: 200px;
   text-align: center;
   background: url('./img/banner.png');
   font-size: 30px;
 }


h1 {
	color: black;
	font-family: ;
	font-style: bold;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
}

h2 {
  color: black;
  font-family: ;
  font-style: bold;
  text-align: left;
  font-size: 50px;
  font-weight: bolder;
}

p {
	font-size: 13px;
  font-weight: bold;
  margin-left: 1em;
  font: normal 1em/normal "Trebuchet MS", Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin-left: 1em  ;
  padding: 0;
  background-color: white;
  overflow: hidden;
}


li a {
  /* display: block; */
  /* text-align: center; */
  /* width: 100px; */
  font-size: 15px;
  background-color: white;
}



#my-links li {
  padding: 1em;
  float: left;
}

#my-links lu {

}
